module php-fpm 1.0;
require {
  type httpd_t;
  type httpd_sys_content_t;
  class dir { add_name write };
  class file { create write append };
  }
        
#============= httpd_t ==============
        
#!!!! This avc can be allowed using the boolean 'httpd_unified'
allow httpd_t httpd_sys_content_t:dir { add_name write };
    
#!!!! This avc can be allowed using the boolean 'httpd_unified'
allow httpd_t httpd_sys_content_t:file { create write append };
